appdirs==1.4.4
asgiref==3.2.10
bcrypt==3.2.0
blessings==1.7
bpython==0.19
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
ConfigArgParse==1.2.3
cryptography==2.9.2
curtsies==0.3.4
Django==3.1.10
django-cors-headers==3.5.0
django-extensions==3.0.7
django-redis==4.12.1
Flask==1.1.2
Flask-BasicAuth==0.2.0
gevent==20.6.2
geventhttpclient==1.4.4
greenlet==0.4.16
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jwt==1.0.0
locust==1.2.3
MarkupSafe==1.1.1
msgpack==1.0.0
mysqlclient==2.0.1
parso==0.7.1
prompt-toolkit==3.0.7
psutil==5.7.2
ptpython==3.0.5
pycparser==2.20
Pygments==2.6.1
pytz==2020.1
pyzmq==19.0.2
redis==3.5.3
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
zope.event==4.4
zope.interface==5.1.0
